body {
	background: radial-gradient(#B3D3B1, #7DB293);
}

.appTitle{
	margin: auto;
	width: 100%;
	background-color: #A2C1DA;
	text-align: center;
}
.auth{
	/*background-color: #A2C1DA;
	color: white;*/
}

.friends{
	background-color: #A2C1DA;
	color: white;
}

.friendListItem{
	background-color: #B3D3B1;
}

.removeFriend{
	display: inline;
	float: right;
}

.searchResult{
	display: inline;
	float: right;
	background-color: #A2C1DA;
}

.posts{
	background-color: #F2F09D;
	color: black;
}
.noPosts{
	border-radius: 0px;
	border: none;
	box-shadow: 0px 0px 0px 0px #7DB293;
}

.postItem{
	background-color: #A2C1DA;
	display: block;
	height: 95%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	position: relative;
}

.postImage{
	top: 10px;
	height: 250px;
	margin: auto auto;
	position: relative;
	width: 95%;
	margin-bottom: 15px;
}

.newPost{
	background-color: #F2F09D;
}

.newPostWrapper{
	background-color: #A2C1DA;
	display: block;
	height: 95%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	position: relative;
}

.newPostText{
	min-width: 100%;
}

img{
	max-width: 90%;
	max-height: 100%;
	height: 100%;
	width: auto;
	position: relative;
	display: block;
	margin: auto auto;
}

.postText{
	width: 95%;
	margin: auto auto;
}

.comments{
	width: 95%;
	margin: auto auto;
	color: black;
}

.postGroup{
	background-color: #F2F09D;
}

.authButtons{
	display: inline-block;
	color: black;
}

.something{
	background-color: #A2C1DA;
}

.leftNav{

}

.well{
	border-radius: 25px;
	border: none;
	background: radial-gradient(#A2C1DA, #7DB293);
	box-shadow: 2px 2px 4px 5px #7DB293;
}
